---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
      >
        About Me
      </span>
    </h1>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div class="w-full">
    <div
      class="container flex flex-col md:flex-row justify-between items-center"
    >
      <!-- Profile -->
      <div class="flex flex-col py-2 md:py-0 items-center md:flex-row">
        <img
          class="rounded-full w-28 border-4 border-primary-blue"
          src="https://avatars.githubusercontent.com/u/97513656?s=400&u=539ca68f2ec01c338de17227c6562543e3b0ea04&v=4"
          alt="profile"
        />
        <div class="info px-4 my-2 text-center md:text-left">
          <h1 class="text-2xl font-bold">Afrando Sharein Ramadhan</h1>
          <p>Fullstack Web Developer</p>
        </div>
      </div>
      <!-- CTA -->
      <div class="">
        <button
          class="border-2 px-2 my-4 md:p-2 rounded-md font-semibold rounded-1xl border-primary-blue hover:bg-primary-blue"
          >Download CV</button
        >
      </div>
    </div>
    <hr class="my-0 md:mt-4" />
    <!-- Description -->
    <div class="py-2 md:py-4">
      <p>
        Saya adalah seorang mahasiswa yang bersemangat di <span
          class="underline decoration-wavy text-primary-blue"
          >Jurusan Informatika</span
        > di <b>Universitas Teknokrat Indonesia</b>. Saya memiliki minat yang
        besar dalam teknologi informasi, dan berusaha untuk terus belajar dan
        mengembangkan keterampilan saya.
      </p>
      <!-- Riwayat Pendidikan -->
      <div>
        <h2
          class="font-bold text-text-heading text-2xl md:text-4xl pt-4 pb-2 overflow-hidden"
        >
          <span
            class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:95%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
          >
            Riwayat Pendidikan
          </span>
        </h2>
      </div>
      <!-- Skills -->
      <div>
        <h2
          class="font-bold text-text-heading text-2xl md:text-4xl pt-4 pb-2 overflow-hidden"
        >
          <span
            class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:95%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
          >
            Kemampuan & Skills
          </span>
        </h2>
      </div>
      <!-- Contact -->
      <div>
        <h2
          class="font-bold text-text-heading text-2xl md:text-4xl pt-4 pb-2 overflow-hidden"
        >
          <span
            class="bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:95%_40%] from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue"
          >
            Hubungi Saya
          </span>
        </h2>
      </div>
    </div>
  </div>
</section>
