---
---

<section class="mb-8">
  <div class="mb-6">
    <h1
      class="font-bold text-text-heading text-center text-4xl md:text-5xl pt-4 pb-2 overflow-hidden"
    >
      <span
        class="
            bg-gradient-to-bl bg-no-repeat bg-bottom bg-[length:90%_40%]
            from-primary-blue to-primary-blue dark:from-primary-blue dark:to-primary-blue
        "
      >
        Dev Rando
      </span>
    </h1>
    <p class="text-2xl pb-4 text-center">Programmer ~ Content Creator ~ Blogger</p>
    <!-- <p class="text-2xl pb-4">Web Developer. OSS Wizard. Blogger.</p> -->
  </div>
  <div>
    <p class="mb-5">
      Hello World! 👋, Nama saya adalah Afrando, saya merupakan seorang yang sangat suka bereksperimen di bidang IT sering mendokumentasikan & membagikannya melalui tulisan dan video🪄
    </p>
  </div>
</section>
